*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 20px;
  scroll-behavior: smooth;
}

/* ----Utilities----- */
.clear::after {
  content: "";
  display: table;
  clear: both;
}

/* Reuseable code */

.container,
.cards-container {
  width: 90%;
  margin: 0 auto;
}

.section-heading {
  color: rgb(14, 14, 14);
  text-align: center;
  font-size: 250%;
  font-weight: 200;
  text-transform: uppercase;
  margin: 4% 0 5% 0;
}

.section-heading::after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  height: 2px;
  width: 100px;
  background-color: #f7a440;
}

.mov-card {
  width: 23%;
  height: 300px;
  float: left;
  overflow: hidden;
  margin: 0 4.7%;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #a3a3a3;
  background-color: #000;
  position: relative;
}

.mov-card:hover {
  box-shadow: 0 0 10px 1px #f7a440;
}

.mov-card:hover .mov-card__img {
  opacity: 0.4;
  transform: scale(1.05);
}

.mov-card:hover .mov-card__title,
.mov-card:hover .mov-card__catagory {
  opacity: 1;
}

.mov-card__img {
  width: 100%;
  height: 100%;
  transition: opacity 0.35s, transform 0.35s;
}

.mov-card__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  color: #f7a440;
}

.mov-card__catagory {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #aaaaaa;
  color: #1d1d1d;
}

.mov-card__title,
.mov-card__catagory {
  font-size: 90%;
  padding: 3px 4px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.35s;
}

/* ----- Header ------*/

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("download.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header div {
  padding: 25px;
}

.logo-text {
  color: #fff;
  float: left;
  text-transform: uppercase;
}

.logo-text span,
.logo-text--footer span {
  margin: 0 5px;
  color: #f7a440;
  transition: transform 0.25s;
}

.main-nav {
  float: right;
}
.main-nav__list {
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 7px;
}

.main-nav__item a:link,
.main-nav__item a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.25s;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  border-bottom: 2px solid #f7a440;
}

.main-heading {
  margin-top: 15%;
  text-align: center;
  color: rgb(202, 202, 202);
  font-size: 400%;
}

/* Brows-Movs Section */
.brows-movs {
  background-color: #fff;
}

/* 4k-Movs Section */

._4k-movs {
  background-color: rgb(241, 241, 241);
}

.brows-movs,
._4k-movs {
  height: 100vh;
  padding: 40px 0 60px 0;
}
/* footer */
footer {
  width: 100%;
  padding: 25px 0 10px 0;
  background-color: rgb(19, 19, 19);
  color: #fff;
}

.logo-text--footer {
  float: left;
  margin-left: 25px;
  text-transform: uppercase;
}

.footer-nav {
  float: right;
  margin-right: 25px;
}

.footer-nav__list {
  list-style: none;
}
.footer-nav__item {
  display: inline-block;
  margin: 0 5px;
}

.footer-nav__item a:link,
.footer-nav__item a:visited {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.25s;
  text-transform: uppercase;
}

.footer-nav__item a:hover,
.footer-nav__item a:active {
  opacity: 0.75;
}

.copy-rights,
.contacts {
  font-size: 80%;
  font-weight: 200;
}

.copy-rights {
  text-align: center;
  margin-top: 25px;
}

.contacts {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.contacts__list {
  list-style: none;
}

.contact__item {
  display: inline-block;
}

.contact__item--email {
  float: left;
  margin-left: 25px;
}

.contact__item--email a:link,
.contact__item--email a:visited {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
  transition: color 0.25s, text-decoration 0.25s;
}

.contact__item--email a:hover,
.contact__item--email a:active {
  color: #f7a440;
  text-decoration: solid underline #f7a440;
}

.contact__item--phone {
  float: right;
  margin-right: 25px;
}
